<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>History</title>
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        {% for item in data %}
            <div class="row mb-3">
                <div class="col-4 themed-grid-col">
                    <div>{{item.pair.label}} - {{item.timeframe.label}}</div>
                </div>

                <div class="col-4 themed-grid-col">
                    {% for signal in item.signals %}
                    <div>{{signal.value}}</div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>



