{% for pk,pv  in data.items() %}
    <h1>{{pk}}</h1>
    {% for tk,tv  in pv.items() %}
        <h2>{{tk}}</h2>
        {% for sk, sv  in tv.items() %}
            <div>
                <h4>{{sk}}</h4>
                {% for ck, cv  in sv.items() %}
                <div>
                    <h5>{{ck}}</h5>
                    {% for item in cv %}
                    <div>
                        {{item.value}}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
{% endfor %}
