<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Signals</title>
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
</head>
<body>

<div class="container">
    {% for item in data %}
    <div class="row mb-3">
        <div class="col-4 themed-grid-col">
            <h2>{{item.pair.label}} - {{item.timeframe.label}}</h2>
        </div>

        <div class="col-4 themed-grid-col">
            {% for signal in item.signals %}
                {% if signal.signals.buy_signals %}
                    <h4>Buy Signals</h4>
                    <div>
                        {% for item in signal.signals.buy_signals %}
                        <div>{{item.value}}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if signal.signals.sell_signals %}
                    <h4>Sell Signals</h4>
                    <div>
                        {% for item in signal.signals.sell_signals %}
                        <div>{{item.value}}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>



